.description{
  padding: 0 10px;
  margin: 50px 10px 0 10px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(17, 80, 218), rgb(0, 47, 150));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: .5s;
}

.description:hover{
  width: 350px;
  height: 520px;
}

.description img{
  height: 135px;
}

.description h1{
  margin-top: 20px !important;
  font-size: 30px;
  font-family: 'Bebas' !important;
  color: white;
}

.description p{
  display: none;
}

.description svg, .description path{
  margin-top: 10px;
  font-size: 38px;
  cursor: pointer;
}

.description:hover p{
  padding: 0 10px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  display: flex;
}

.description a{
  display: none;
}

.description:hover a{
  padding: 5px 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-2);
  border-radius: 5px;
}

.description a:hover{
  background-color: var(--color-2-hover);
}

.arrowRight{
  margin: 0 !important;
  font-size: 12.5px !important;
  cursor: pointer;
}

