@import './colors.css';

@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/Mulish/static/Mulish-Light.ttf');
}

@font-face {
  font-family: 'Bebas';
  src: url('../../public/fonts/Bebas/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Monserrat';
  src: url('../../public/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Mulish' !important;
  color: azure;
  font-weight: 200 !important;
  cursor: default;
}

body{
  
}

h1,h2,h3,h4{
  margin: 0 !important;
  padding: 0;
}

li.slick-active{
  opacity: .3;
}
