.section{
  padding: 50px 0 80px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 150px;
}

.description{
  padding: 0 10px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description p{
  font-size: 18px;
  color: gray;
}

@media screen and (min-width: 1020px){

  .section{
    padding: 80px 0;
  }

  .logo img{
    width: 200px;
  }

}