.section{
  padding: 0 0 100px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxCard{
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width:1024px){

  .boxCard{
    max-width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 1024px){

  .section{
    padding: 50px 0 180px 0;
  }

  .boxCard{
    max-width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
  }

}



