.iconArrow{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 110px;
  left: 10px;
  cursor: pointer;
}

.iconArrow svg, .iconArrow path{
  font-size: 18px;
  cursor: pointer;
}

.iconArrow h1{
  margin-left: 10px;
  color: goldenrod;
  font-size: 14.5px;
  text-transform: inherit;
}