.arrowLeft{
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrowLeft svg, .arrowLeft path{
  font-size: 25px;
  color: gray;
  cursor: pointer;
}

.arrowLeft h3{
  font-size: 14px;
  color: gray;
}